:root {
  --white: #ffffff;
  --transparentWhite: hsla(0, 0%, 100%, 0.75);
  --lightGrey: hsl(0, 0%, 95%);
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --darkCyan: hsl(179, 100%, 13%);
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Lexend Deca", sans-serif;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7rem;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: var(--lightGrey);
}

h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--lightGrey);
}

p {
  color: var(--transparentWhite);
}

.color1 {
  color: var(--orange);
}

.color2 {
  color: var(--cyan);
}

.color3 {
  color: var(--darkCyan);
}

.background1 {
  background: var(--orange);
}

.background2 {
  background: var(--cyan);
}

.background3 {
  background: var(--darkCyan);
}

.margin-top {
  margin-top: 2.3rem;
}

.card {
  z-index: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 0.7rem;
  min-height: 32.5rem;
  margin: 6rem 1.5rem;
}

.card-section {
  display: flex;
  flex-direction: column;
  max-width: 20.5rem;
  padding: 3.3rem;
}

.car-icon {
  width: 4em;
  margin-bottom: 0.5rem;
}

.learn-more-button {
  width: fit-content;
  margin-top: auto;
  padding: 0.6rem 1.9rem;
  background: var(--lightGrey);
  border: 0.15rem solid var(--lightGrey);
  border-radius: 1.7rem;
  font-weight: 500;
  transition: 0.1s linear;
}

.learn-more-button:hover {
  cursor: pointer;
  background: transparent;
  color: var(--lightGrey);
}

.attribution {
  z-index: 0;
  position: absolute;
  bottom: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    height: auto;
  }

  .card {
    flex-direction: column;
  }

  .card-section {
    max-width: 25rem;
  }

  .learn-more-button {
    margin-top: 1.8rem;
  }

  .attribution {
    position: relative;
  }
}